/*------------------------------------*\
    $DUCKY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS.............You’re reading it :)
 * INTRO................Introducing the ducky grid system.
 * VARIABLES............Your settings/configuration.
 * FUNCTIONS............Library functions used to build the grid system.
 * MIXINS...............Library mixins used to build the grid system.
 * THE GRID.............Setup our grid’s structure.
 * WIDTHS...............Setup our responsive widths for our chosen breakpoints.
 * PUSH.................Our push classes.
 * PULL.................Our pull classes.
 */





/*------------------------------------*\
    $INTRO
\*------------------------------------*/
/**
 * Ducky grids is a simple, responsive, column-based grid system which provides column widths
 * over a number of breakpoints for the devices you specify. It makes it really
 * easy to alter your layout on a per-device basis.
 *
 * Out of the box, Ducky grids provides the following breakpoints:
 *
 * xs -- mobile phones e.g. iPhone (anything under `480px`)
 * sm -- smaller tablets e.g. Kindle Fire (anything between `481px` and `768px`)
 * md -- larger tablets e.g. iPad (anything between `769px` and '1024px')
 * lg -- desktop computers e.g. Mac/PC (anything above '1024px')
 *
 * Using the above namespaces you can easily manipulate your layouts based on
 * the size of device the user is using, for example:
 *
   <div clas="col  col--4  col--sm--6  col--xs--12">
 *
 * The above would produce a column which spans across 4 columns unless it is
 * on a small or extra-small device when it would span across 6 or 12 columns,
 * respectively.
 */





/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * Set the maximum width of your page content including gutter.
 *
 * The `960px` default value comes from the fact the most common screen width
 * we should be targeting is 1024px and 960px in particaular is divisible by
 * the factors of 1, 2, 3, 4, 5, 6, 8, 10, 12, 15, and 16; that’s a lot of
 * factors!
 *
 * If you’re not convinced, feel free to change this setting to whatever you
 * wish e.g. `1200px` or whatever :)
 */
$dky-max-width:             960px !default;


/**
 * While I recommend sticking with the default ‘12‘ columns, feel free to change
 * this variable if you wish to use a different number of colums (I’m looking at
 * you, 16 column grid people).
 */
$dky-columns:               12 !default;


/**
 * Set the spacing between each grid column. The default of ‘24px' is based
 * around a base font-size of ‘16px‘ with a base line-height of ‘1.5‘ resulting
 * in a vertical spacing value of ‘24px‘. This maintains consistency with both
 * vertical and horizontal rhythm.
 *
 * This shit gets me hard, really.
 */
$dky-gutter:                24px !default;


/**
 * Ducky grids is built with responsive web design in mind but you can still use
 * it even if you’re building a non-responsive site.
 */
$dky-responsive:            true !default;


/**
 * Leaving this setting at its default ’true’ value will make your grids 100%
 * width if you don’t apply a more specific width class to them.
 */
$dky-mobile-first:          true !default;


/**
 * Do you need push and pull classes? They’re useful for moving columns left or
 * right by a certain number of columns meaning your columns don't have to
 * appear in the same order as they appear in your markup.
 */
$dky-push:                  true !default;
$dky-pull:                  true !default;


/**
 * Define the prefix used for your classes (e.g. `.sm--col--2`) as well as the
 * media query that the breakpoint relates to.
 *
 * The default values cover what I regard as the most common screen sizes but
 * feel free to customize them per your own project’s requirements.
 */
$dky-breakpoints: (
 'xs' '(max-width: 480px)',
 'sm' '(min-width: 481px) and (max-width: 768px)',
 'md' '(min-width: 769px) and (max-width: 1023px)',
 'lg' '(min-width: 1024px)'
) !default;


/**
 * So you only compile as much CSS as you need you can specify for which
 * namespaced breakpoints you would like to generate width, push and pull
 * classes.
 *
 * Please note, you can only use push and pull classes if the `$dky-push` and/or
 * `pull` variable(s) and the `$dky-responsive` variable are set to ’true’.
 */
$dky-breakpoint-has-widths: ('xs', 'sm', 'md', 'lg') !default;
$dky-breakpoint-has-push:   ('xs', 'sm', 'md', 'lg') !default;
$dky-breakpoint-has-pull:   ('xs', 'sm', 'md', 'lg') !default;


/**
 * Because I’m awesome, Ducky grids includes column guides in the form of a
 * background image. While I think they make development easier some people
 * think they get in the way so this setting is toggled `false` by default.
 */
$dky-column-guides:                true !default;





/*------------------------------------*\
    $FUNCTIONS
\*------------------------------------*/
/**
 * This function is only used by the library to build the grid system. It strips
 * properties passed to it of their units. This is useful for conducting maths
 * on said property without throwing up an error.
 */
@function strip-unit($num) {
  @if type-of($num) == 'number' and not unitless($num) {
    @return $num / ($num * 0 + 1);
  }

  @return $num;
}





/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are only used by the library to build our grid system. They will
 * not output any css and should not be edited unless you you’re a fan of broken
 * grid systems.
 *
 * Enclose a block of code with a media query as named in `$dky-breakpoints`.
 */
@mixin grid-media-query($dky-media-query) {
  $dky-breakpoint-found: false;

  @each $dky-breakpoint in $dky-breakpoints {
    $dky-name: nth($dky-breakpoint, 1);
    $dky-declaration: nth($dky-breakpoint, 2);

    @if $dky-media-query == $dky-name and $dky-declaration {
      $dky-breakpoint-found: true;

      @media only screen and #{$dky-declaration} {
        @content;
      }
    }
  }

  @if not $dky-breakpoint-found {
    @warn "Breakpoint ‘#{$dky-media-query}’ does not exist";
  }
}


/**
 * Generate a column grid to aid in development only. Thanks to Mike Morrison
 * at Soholaunch.com for doing the initial legwork on this!
 */
@mixin column-grid {
  /**
   * I like the classic pale red but you can change the colour of the columns
   * to whatever you like. Go crazy.
   */
	$dky-column-color:      rgba(200,0,0,.2) !default;

	/**
   * These variables are automatically calculated. Hands off!
   */
	$dky-gutters:          ($dky-columns - 1);
  $dky-gutter-total:     ($dky-gutters * $dky-gutter);
  $dky-gutter-half:      ($dky-gutter / 2);
	$dky-column-width:     (($dky-max-width - $dky-gutter) - $dky-gutter-total) / $dky-columns;

  /**
   * Output our prefixed background image styles
   * 1. Create a coloured block the width of one column
   * 2. Create a transparent block the width of our gutter
   * 3. Set the size of our image equal to one column and its gutter
   * 4. Offset the image by one half our gutter width which is the amount of
   *    padding applied to either side of our `container`
   */
  background-image: -webkit-linear-gradient(
    0deg,
    $dky-column-color $dky-column-width,                    /* 1 */
    transparent $dky-gutter                                 /* 2 */
  );

  background-image: -moz-linear-gradient(
    0deg,
    $dky-column-color $dky-column-width,                    /* 1 */
    transparent $dky-gutter                                 /* 2 */
  );

  background-image: -o-linear-gradient(
    0deg,
    $dky-column-color $dky-column-width,                    /* 1 */
    transparent $dky-gutter                                 /* 2 */
  );

  background-size: ($dky-column-width + $dky-gutter) 100%;  /* 3 */
  background-position: $dky-gutter-half  0px;               /* 4 */
}





/*------------------------------------*\
  $THE-GRID
\*------------------------------------*/
/**
 * To end up with the amount of gutter you specififed above we need to add half
 * that amount to either side of our columns. This variable makes the process
 * a little DRY-er.
 */
$dky-gutter-half: (strip-unit($dky-gutter) / 2) * 1px;


/**
 * 1. Align our container to the middle of the page.
 * 2. Set the container’s maximum width.
 * 3. Add gutter either side of the container.
 * 4. So our fluid widths will play nice with our fixed gutters.
 * 5. Add a column guide background image if setting `true`
 * 6. Toggle background image off by click-holding on `body`
 * 7. Make our container full-width if required.
 */
.container {
  margin-left: auto;               /* [1] */
  margin-right: auto;              /* [1] */
  max-width: $dky-max-width;       /* [2] */
  padding-left: $dky-gutter-half;  /* [3] */
  padding-right: $dky-gutter-half; /* [3] */
  -webkit-box-sizing: border-box;  /* [4] */
     -moz-box-sizing: border-box;  /* [4] */
          box-sizing: border-box;  /* [4] */
  @if $dky-column-guides {
    @include column-grid;          /* [5] */
    body:active & {
      background: none;            /* [6] */
    }
  }
}
.container--fluid {
  max-width: 100%;                 /* [7] */
}


/**
 * 1. Allow the grid to be used on lists and list items.
 * 2. Remove any margin which may affect our grid and add a negative margin of
 * half the desired gutter amount either side of each grid.
 * 3. Remove any padding which may affect our grid.
 * 4. Clear all the floats used in our grid system.
 */
.grid {
  list-style: none;               /* [1] */
  margin:  0 (-$dky-gutter-half);   /* [2] */
  padding: 0;                     /* [3] */

  &:before,
  &:after {
    content: " ";                 /* [4] */
    display: table;               /* [4] */
  }
  &:after {
    clear: both;                  /* [4] */
  }
}


/**
 * 1. Add half your specified gutter to either side of each column.
 * 2. So our fluid widths will play nice with our fixed gutters.
 * 3. Make columns full-width by default if `$dky-mobile-first` is `true`.
 */
[class^="col"] {
  float: left;
  padding-left:  $dky-gutter-half; /* [1] */
  padding-right: $dky-gutter-half; /* [1] */
  -webkit-box-sizing: border-box;  /* [2] */
     -moz-box-sizing: border-box;  /* [2] */
          box-sizing: border-box;  /* [2] */

  @if $dky-mobile-first {
    width: 100%;                   /* [3] */
  }
}





/**
 * Create gutterless grids by extending the standard `.grid` class.
 */
.grid--flush {
  margin-left: 0;
  margin-right: 0;

  > [class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
}





/**
 * Create grids with gutters half the standard size by extending the standard
 * `.grid` class.
 */
.grid--thin {
  margin-left: -$dky-gutter-half / 2;
  margin-right: -$dky-gutter-half / 2;

  > [class^="col"] {
    padding-left: $dky-gutter-half / 2;
    padding-right: $dky-gutter-half / 2;
  }
}





/**
 * Create grids with gutters half the standard size by extending the standard
 * `.grid` class.
 */
.grid--fat {
  margin-left: -$dky-gutter;
  margin-right: -$dky-gutter;

  > [class^="col"] {
    padding-left: $dky-gutter;
    padding-right: $dky-gutter;
  }
}





/*------------------------------------*\
   $WIDTHS
\*------------------------------------*/
/**
 * Non-responsive column width classes.
 */
@mixin device-type($dky-namespace:"") {
  $dky-prefix: unquote(".") + "col--" + $dky-namespace;

  @for $i from 1 through $dky-columns {
    $num: $i;
    $dky-percent: 100% / ($dky-columns / $num);

    #{$dky-prefix}#{$num} {
      width: $dky-percent;
    }

  }

}

@include device-type;


/**
 * Responsive column width classes, if enabled.
 */
@if $dky-responsive {

  @each $dky-name in $dky-breakpoint-has-widths {
    @include grid-media-query($dky-name) {
      @include device-type('#{$dky-name}--');
    }
  }

}





/*------------------------------------*\
   $PUSH
\*------------------------------------*/
/**
 * Push classes (if enabled) to move columns to the right by a certain number of
 * columns.
 */
@mixin push-setup($dky-namespace:"") {
  $dky-prefix: unquote(".") + "push--" + $dky-namespace;

  @for $i from 1 through $dky-columns {
    $num: $i;
    $dky-percent: 100% / ($dky-columns / $num);

    #{$dky-prefix}#{$num} {
      left: $dky-percent;
    }

  }

}

@if $dky-push {

  [class*="push--"] { position: relative; }

  @include push-setup;

  @if $dky-responsive {

    @each $dky-name in $dky-breakpoint-has-push {
      @include grid-media-query($dky-name) {
        @include device-type('#{$dky-name}--');
      }
    }

  }

}





/*------------------------------------*\
   $PULL
\*------------------------------------*/
/**
 * Pull classes (if enabled) to move columns to the left by a certain number of
 * columns.
 */
@mixin pull-setup($dky-namespace:"") {
  $dky-prefix: unquote(".") + "pull--" + $dky-namespace;

  @for $i from 1 through $dky-columns {
    $num: $i;
    $dky-percent: 100% / ($dky-columns / $num);

    #{$dky-prefix}#{$num} {
      right: $dky-percent;
    }

  }

}

@if $dky-pull {

  [class*="pull--"] { position: relative; }

  @include pull-setup;

  @if $dky-responsive {

    @each $dky-name in $dky-breakpoint-has-pull {
      @include grid-media-query($dky-name) {
        @include device-type('#{$dky-name}--');
      }
    }

  }

}
